:host {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(233, 236, 88, 0.329);
    border-radius: 2rem;
    padding: 2% ;
}

.post {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
    background-color: rgb(234, 236, 88);
    border-radius: 10%;
    padding: 2rem;
    margin: 2rem auto;

}

.post label {
    font-weight: 900;
}

.post-form {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

}

.div-in-form {
    display:flex;
    justify-content: space-between;
    gap:1rem;
}

.error {
    height: 1.5rem;
    color: red;
    text-align:end;
    padding-right: 1rem;
}

.submit {
    margin-top: 1rem;
}