
:host {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#bdefad79;
    border-radius: 2rem;
    padding: 2% ;
}

.post {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
    background-color:#beefad;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem auto;

}

.post>h1{
 
    font-size: 2.5em;
    color: #6aa557;
    text-shadow: 2px 2px 4px #000203;
    letter-spacing: 0.3em;
}

.post label {
    font-weight: 900;
    color: #6aa557;
    text-shadow: 2px 2px 4px #000203;
    font-size: 1.5em;
}

.post-form {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

}

.div-in-form {
    display:flex;
    justify-content: space-between;
    gap:1rem;
}

.div-in-form input, select {
  font-size: 1.2em;
  box-shadow: 2px 2px 4px #000203;
  border: none;
  
}

.div-in-form select {
  padding: 0 2rem;
    
  }

.error {
    height: 1.5rem;
    color: red;
    text-align:end;
    padding-right: 1rem;
    text-shadow: 1px 1px 2px #000203;
}

.server-error {
    height: 1.5rem;
    color: red;
    text-align:center;
    text-shadow: 1px 1px 2px #000203;
    margin-top: 1rem;
}

.submit {
    margin-top: 1.5em;
    width:50%;
    align-self: center;
    padding: 0.4em ;
    font-size: 1.5em;
    background-color:#6aa557;
    color: #beefad;
    text-shadow: 2px 2px 4px #000203;
    border: none;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px #000203;
    cursor: pointer;
    letter-spacing: 0.2em;
}

@media (max-width: 580px) {
    .div-in-form {
     flex-direction: column;
    }

    .submit {
        width: 80%;
    }

    .post>h1{
        font-size: 2em;
    }


    .post label {
        font-size: 1.2em;
    }


   }
