<div class="home">

    <section class="home-container">

        <div class="img-container">
            <img class="welcome-logo" src="assets/images/logo.png" alt="logo">
            <h1>VinylReplay</h1>
        </div>

        <div class="welcome-info">

            <span><h1>Welcome to VinylReplay</h1> <h2> your place for exchanging used vinyl records! </h2> </span>

            <span>
                At VinylReplay, you can explore a wide variety of classic and rare vinyl records from various genres. To fully enjoy the platform's features, we encourage you to register with a simple and quick process. By registering, you will gain access to the complete information for each listing, including details about the record, price, and the seller's contact information.
                
                Registered users can publish their own listings to sell vinyl records and connect with potential buyers. You are also welcome to leave comments and reviews for the records that impress you or if you have any inquiries.
                
                Your musical journey starts here! Register now and delve into the world of vinyl records on VinylReplay. We look forward to sharing your passion for music and exploring the unique offerings within our community.
                
                If you need any assistance or have questions, feel free to contact us through our contact form. Our team will be delighted to assist you.
                
                Thank you for choosing VinylReplay, and we can't wait to see your collection grow with extraordinary melodies and unforgettable sounds.</span>

        </div>

    </section>


</div>