<div class="home">

    <section class="home-container">

        <div class="img-container">
            <img class="welcome-logo" src="assets/images/logo.png" alt="logo">
        </div>

        <div class="welcome-info">
        
            <span>
                <h1>Welcome to VinylReplay</h1>
                <h2> your place for exchanging used vinyl records! </h2>
            </span>
        
            <span>
        
                <p>Your musical journey starts here!</p>
                <p> We look forward to sharing your passion for music and exploring the unique offerings within our community. </p>
                
                <p> Register now and delve into the world of vinyl records on VinylReplay.</p>
                <p>At VinylReplay, you can explore a wide variety of classic and rare vinyl records from various genres. </p>
                <p>To fully enjoy the platform's features, we encourage you to register with a simple and quick process.</p>
                <p>By registering, you will gain access to the complete information for each listing, including details about
                    the record, price, and the seller's contact information.</p>
        
                
               
            </span>
        
        </div>

    </section>


</div>