

footer {
    background-color: rgba(34, 243, 44, 0.329);
    color: aliceblue;
    text-align: center;
    display: block;
    width: 100%;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
  
  
}

p {

}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
font-size: 2rem;
color: aliceblue;
}