

footer {
    background-color: rgba(34, 243, 44, 0.329);
    color: aliceblue;
    text-align: center;
    display: block;
    width: 100%;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    padding:1rem;
  
}