


:host {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    /* font: normal 16px/1.5 Ultra, serif;
    letter-spacing: 0.2em; */

}

.background {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    z-index: -1;
 
  }


.main {
    display: flex;
    justify-content: center;
    width: 100%;

}




