<app-header/>

<img class="background" src="/assets/images/background.jpg" alt="background">

<div class="main">
 
    <router-outlet/>

</div>

<div>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit vel quos saepe dicta, necessitatibus delectus in rem veritatis incidunt asperiores voluptatem hic ad ea tempora exercitationem est facilis expedita non laborum, dolorem at eius sit fugit qui! Laudantium perferendis iste esse possimus aut ab laboriosam neque numquam cum unde, veniam assumenda ut eligendi consectetur aspernatur voluptate consequatur cupiditate voluptates tenetur exercitationem ullam. Ea voluptate quasi minus earum quaerat voluptatibus quas quibusdam nisi eligendi cum, sunt eaque quisquam sed veritatis facilis porro ducimus, reiciendis quia quis doloremque, dignissimos asperiores sint. Veniam delectus id iure dicta pariatur veritatis nesciunt voluptates voluptate dignissimos?

    </h1>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ea!</p>




<app-footer/>