.loader {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2em solid;
    border-color: rgba(3, 3, 3, 0.9) rgba(13, 13, 13, 0.9) rgba(3, 3, 3, 0.9) rgba(13, 13, 13, 0.9) ;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 