<div class="register">

    <h2>Sign Up</h2>

    <form class="register-form" #form="ngForm" (ngSubmit)="register(form)">

        <div class="div-in-form">
            <label for="username">Username</label>
            <input
             type="text"
            name="username"
            ngModel
            #inputUsername = "ngModel"
            required
            minlength="3"
              >
        </div>

        <div class="error" >
            <ng-container *ngIf="inputUsername.touched">
            <p *ngIf="inputUsername.errors?.['required']">Username is required </p> 
          </ng-container>
        </div>

        <div class="div-in-form">
            <label for="email">Email</label>
            <input
             type="email"
              name="email"
              ngModel
              #inputEmail = "ngModel"
              required
              [appEmail]="emailDomains"
              >
        </div>

        <div class="error" >
            <ng-container *ngIf="inputEmail.touched">
            <p *ngIf="inputEmail.errors?.['required']">Email is required </p> 
            <p *ngIf="inputEmail.errors?.['emailValidator']">Email is not valid </p>
          </ng-container>
        </div>

        <div class="div-in-form">
            <label for="phone">Phone Number</label>
            <input
             type="tel"
             name="phone"
             ngModel
             #inputPhone="ngModel"
             required
              >
        </div>

        <div class="error">
            <ng-container *ngIf="inputPhone.touched">
                <p *ngIf="inputPhone.errors?.['required']">Phone Number is required </p>
            </ng-container>
        </div>
        
        <div class="div-in-form">
            <label for="password">Password</label>
            <input
             type="password"
              name="password"
              ngModel
              #inputPassword="ngModel"
              required
              minlength="5"
              >
        </div>

        <div class="error">
            <ng-container *ngIf="inputPassword.touched">
                <p *ngIf="inputPassword.errors?.['required']">Password is required </p>
                <p *ngIf="inputPassword.errors?.['minlength']">Password is too short </p>
            </ng-container>
        </div>

        <div class="div-in-form">
            <label for="rePassword">Confirm Password</label>
            <input
              type="password"
              name="repassword"
              ngModel
              #inputRePassword="ngModel"
              required
              minlength="5"
              
              >
        </div>

        <div class="error">
            <ng-container *ngIf="inputRePassword.touched">
                <p *ngIf="inputRePassword.errors?.['required']">Password confirmation is required </p>
                <p *ngIf="inputRePassword.errors?.['minlength']">Password confirmation is too short </p>
                <p *ngIf="inputPassword.value !== inputRePassword.value">Password confirmation does not match</p>
            </ng-container>
        </div>

       

        <input class="submit" type="submit" value="Register">
    
    </form>



</div>

