


<section class="login">
    <h1>Sign In</h1>

    <form class="login-form" #form="ngForm" (ngSubmit)="login(form)">

        <div class="div-in-form">
            <label for="email">Email</label>
            <input type="email" name="email" #inputEmail="ngModel" ngModel required [appEmail]="emailDomains">

        </div>

        <div class="error">
            <ng-container *ngIf="inputEmail.touched">
                <p *ngIf="inputEmail.errors?.['required']">Email is required </p>
                <p *ngIf="inputEmail.errors?.['emailValidator']">Email is not valid </p>
            </ng-container>
        </div>



        <div class="div-in-form">
            <label for="password">Password</label>
            <input type="password" name="password" #inputPassword="ngModel" ngModel required minlength="5">
        </div>
        <div class="error">
            <ng-container *ngIf="inputPassword.touched">
                <p *ngIf="inputPassword.errors?.['required']">Password is required </p>
                <p *ngIf="inputPassword.errors?.['minlength']">Password is too short </p>
            </ng-container>
        </div>

        <input class="submit" type="submit" value="Login">

        <div class="server-error">
            <ng-container *ngIf="error">
                    <p>{{error}}</p>
            </ng-container>
        </div>


    </form>

    
    <div *ngIf="isLoading" >
        <app-loader/>
     </div>

    <a routerLink="/register">I need to register!</a>

</section>
