
:host {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8fd2ef73;
    border-radius: 2rem;
    padding: 2% ;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:1rem;
    background-color: #8fd2ef;
    border-radius: 2rem;
    padding: 2rem;


}

.login>h1{
 
    font-size: 2.5em;
    color: rgb(241, 235, 145);
    text-shadow: 2px 2px 4px #000203;
    letter-spacing: 0.3em;
}

.login label {
    font-weight: 900;
    color: rgb(241, 235, 145);
    text-shadow: 2px 2px 4px #000203;
    font-size: 1.5em;
}

.login-form {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

}

.div-in-form {
    display:flex;
    justify-content: space-between;
    gap:1rem;
}

.div-in-form input {
    font-size: 1.2em;
    box-shadow: 2px 2px 4px #000203;
    border: none;
  }

.error {
    height: 1.5rem;
    color: red;
    text-align:end;
    padding-right: 1rem;
    text-shadow: 1px 1px 2px #000203;
}

.submit {
    margin-top: 1.5em;
    width:50%;
    align-self: center;
    padding: 0.4em ;
    font-size: 1.5em;
    background-color: rgb(234, 236, 88);
    color:   #40b8eb;
    text-shadow: 2px 2px 4px #000203;
    border: none;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px #000203;
    cursor: pointer;
    letter-spacing: 0.2em;

 
}


@media (max-width: 500px) {
   .div-in-form {
    flex-direction: column;
   }

   .submit {
    width:80%;
   }

   .login>h1{
    font-size: 2em;
}


.login label {
    font-size: 1.2em;
}

  }
