<div class="login">

    <h2>Login</h2>

    <form class="login-form">

        <div class="div-in-form">
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        
        <div class="div-in-form">
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>

        <button (click)="login()" >Login from Button</button>

        <input type="submit" value="Login">
    
    </form>



</div>
