<div  class="catalog" >

    <h2>Catalog</h2>

    

    <section class="catalog-container">

        <article class="card">
            <div class="card-img">

            </div>

            <div class="card-content">
              <p>Author</p>
              <p>Title</p>
              <p>year</p>
            </div>
        </article>

        <article class="card">

            <div class="card-img">

            </div>

            <div class="card-content">
              <p>Author</p>
              <p>Title</p>
              <p>year</p>
            </div>
        </article>

        <article class="card">

            <div class="card-img">

            </div>

            <div class="card-content">
              <p>Author</p>
              <p>Title</p>
              <p>year</p>
            </div>
        </article>
        


    </section>


</div>
