

:host{
    width:60%
}

.comments-container h2{
    text-align: center;
    font-size: 2em;
    color: rgb(241, 235, 145);
    text-shadow: 2px 2px 4px #000203;
    letter-spacing: 0.3em;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.comments-container textarea {
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
}

.submit, button {
    display: inline;
    cursor: pointer;
    align-self: center;
    padding: 0.1em 0.4em ;
    margin-top: 1em;
    font-size: 1.4em;
    background-color: #6ff180;
    color:   rgb(241, 235, 145);
    text-shadow: 2px 2px 4px #000203;
    border: none;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px #000203;
    letter-spacing: 0.2em;
}

.submit:hover {
    background-color: rgb(241, 235, 145);
    color: #6ff180;  ;
}

.btn-delete{
    background-color: #6ff180;
    color:    rgb(173, 7, 7);
 

}
.btn-delete:hover {
    background-color:  rgb(245, 8, 8);
    color: #353835; 
}



.card {
    background-color: rgba(24, 26, 24, 0.658);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: 1rem;
    overflow:hidden;
   
   
    padding: 0 2% 2% 2%;

    border: 1px solid #6ff180;
    border-radius: 1rem;
}

.card p {
    color: aliceblue;
    font-size: 1.2em;
}

.card-created-info  {
   border-bottom: 1px solid #6ff180;
   margin-bottom: 0.5rem;
   font-size: 0.8em;
}


.comment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#text {
    word-wrap: break-word;
 
}


 




