<section *ngIf="isLoggedIn" class=" comments-container card-container  ">

 

    <div class="comments-form-container card ">
        <form class="form"  #form="ngForm" (ngSubmit)="postComment(form )" >
            <textarea name="text"  cols="20" rows="5"  ngModel #text  >  </textarea>

            <input type="submit" value="Post Comment">
        </form>
    </div>



<ng-container>
    <h2>Comments</h2>

<ng-container   *ngFor="let comment of comments">
    <div class="card">
        <div class="card-created-info">
            <p> - <strong>{{comment._ownerId.username}}</strong> - |  {{formattedDate(comment._createdOn)}} </p>
            <!-- <p *ngIf="record._updatedOn">Updated at: {{ updatedOn }}</p> -->
         </div>
         <div class="comment">
               <p id="text">{{comment.text }}</p> 
           <div *ngIf="isAuthor(comment._ownerId._id)" class="btn-container">
            <button (click)="deleteComment(comment._id , comment._ownerId._id)" >Delete</button>
           </div>
         </div>
    </div>
</ng-container>



</ng-container>


</section>
