<section class="coments-container card-container">

    <div class="comments-form-container card ">
        <form class="form"  #form="ngForm" (ngSubmit)="postComment(form )" >
            <textarea name="text"  cols="20" rows="5"  ngModel #text  >  </textarea>

            <input type="submit" value="Post Comment">
        </form>

    </div>

    <div class="card">
        <div class="card-created-info">
            <p>Popo  07.08.2023</p>
            <!-- <p *ngIf="record._updatedOn">Updated at: {{ updatedOn }}</p> -->
         </div>
         <div class="comment-text">
            <p>werwrtwewefwefmkwifmwiomfwiomwiomcwiocmwiorcmwiorc</p>
         </div>
    </div>


    <div class="card">
        <div class="card-created-info">
            <p>Popo  07.08.2023</p>
            <!-- <p *ngIf="record._updatedOn">Updated at: {{ updatedOn }}</p> -->
         </div>
         <div class="comment-text">
            <p>werwrtwewefwefmkwifmwiomfwiomwiomcwiocmwiorcmwiorc</p>
         </div>
    </div>

</section>
