<div *ngIf="record" class="details">

    <h1>Details</h1>



    <section class="card-container"     >

        <article class="card" >

            <div class="card-created-info">
               <p>Posted at: {{ createdOn }}</p>
               <p *ngIf="record._updatedOn">Updated at: {{ updatedOn }}</p>
            </div>

            <div class="card-data-container">
        
            <div  class="card-img-container">
                <img src={{record.imageUrl}} alt="">
            </div>
          
            <div class="card-content-container">

            <ul  class="card-content">
                <li><p>Artist:</p> <h3>{{record.artist}}</h3> </li>
                <li><p>Title:</p> <h3>{{record.title}}</h3> </li>
                <li><p>Style:</p> <h3>{{record.style}}</h3> </li>
                <li><p>Year:</p> <h3>{{record.year}}</h3> </li>
            </ul>

            <ng-container  *ngIf="isLoggedIn" >

            <div *ngIf="isOwner" class="card-btns-container">
              <button class="btn-edit" (click)="editRecord(record._id)" >Edit</button>
                <button class="btn-delete" (click)="deleteRecord(record._id, record._ownerId._id)" >Delete</button>
            </div>

        

             <ul *ngIf="!isOwner"  class="card-content posted-by">
               <li><p> Posted by: </p></li> 
            </ul>
            <article class="owner">

            <div *ngIf="!isOwner" class="card-owner">

                <ul class="card-content owner-info-container">
                    <li> <p>Name:</p> <h3>{{record._ownerId.username}}</h3></li>
                    <li> <p>Email:</p> <h3>{{record._ownerId.email}}</h3></li>
                    <li> <p>Phone:</p> <h3>{{record._ownerId.phone}}</h3></li>
                    <li> <p>Posts:</p> <h3>{{record._ownerId.myPosts?.length}}</h3> </li>
                </ul>

               

                <div class="owner-img-container">
                    <img src="assets/images/user.jpg" alt="">
                </div>
             </div>
            </article>
        </ng-container>
            </div>
        </div>
        </article>
    </section> 

    
<ng-container>

    <app-comments [recordId]="record._id" > </app-comments>
    
</ng-container>
       
        
  


</div>










