

<div  class="catalog" >

   
    <h1>Catalog</h1>


 <div *ngIf="isLoading" >
    <app-loader/>
 </div>

    <section *ngIf="!isLoading" class="card-container"    >

        <article class="card"  *ngFor="let record of recordsList"   >
            <div  class="card-img-container">
                <img src={{record.imageUrl}} alt="">
            </div>
          
            <div class="card-content">
                <a class="view" [routerLink]="record._id">View</a>
              <p>{{record.artist}}</p>
              <p>{{record.title}}</p>
            </div>
         

        </article>

    </section>







</div>
