
:host{
    width: 90%;
    margin: 2rem auto;
    justify-content: center;
 
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 169, 247, 0.329);
    border-radius: 2rem;
    padding: 2% ;
    font-family: 'Righteous', cursive;
}

.catalog>h1{
 
    font-size: 2.5em;
    color: rgb(241, 235, 145);
    text-shadow: 2px 2px 4px #000203;
    letter-spacing: 0.3em;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 3%;
    gap:3%;
    justify-content:center;

   
}

.card {

    width: 15em;
    height: 21em;
    display: inline-block;
    background-color: rgb(31, 32, 32);
    border: 1px solid #84d0f5;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow:hidden;

}

.card-img-container {
    width: 100%;
    height: 65%;
 
}

.card-img-container img {
    display:block;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.card-content{
    text-align: center;
    padding: auto;
    color: aliceblue;
    padding: 0.5em;
   
}

.view {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    margin: 0.1em 0 0.5em 0;
    border: 1px solid #84d0f5;
    padding:0.1em 1em;
    border-radius: 0.2em;
    
}

.view:hover {
    background-color: #84d0f5;
    color:black
}